@font-face {
  font-family: 'SUIT Variable';
  src: url('/fonts/SUIT-Variable.woff2') format('woff2');
  font-display: swap;
}

:root {
  font-family: 'SUIT Variable', sans-serif;
  line-height: 1.5;
  letter-spacing: -0.025em;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
